.Users {
    .search {
        display: flex;

        .searchdisplay {
            margin: 42px 0;
        }

        .filter {
            color: var(--white) !important;
        }
    }

    .table {
        &filters {
            justify-content: space-between;

            cursor: pointer;
        }

        .box {
            margin-top: 20px;

            .cols {
                grid-template-columns: 1.2fr repeat(3, 1fr);
                border-bottom: 2px solid var(--system-light-grey);

                .col {
                    text-align: center;

                    .data {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 70px;
                        height: 70px;
                        object-fit: cover;
                        grid-gap: 8px;
                    }

                    .disease {
                        padding: 12px 16px;
                        border-radius: var(--default-border);

                        background-color: var(--blue-100);
                    }
                }
            }

            .cols:first-child {
                padding-top: 0;
            }
        }
    }
}

