.Registration_form {
    margin-top: 15px;
}

.checkboxContainer {
    display: flex;
    margin-top: 15px;
}

.error {
    color: red;
    margin-top: 15px;
}

.errorBorder {
    padding: 5px 12px;
    border: 2.5px solid red;
    box-shadow: inset 0 0 0 32px 0d1117;
}