.Loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loop_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    height: 300px;
    width: 300px;
    animation: rotate1 1.8s infinite linear reverse;
}

.loop_first {
    display: flex;
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 210;

    div {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: 2px solid rgb(255, 255, 255);
        animation: color-change 1s linear infinite;
        border: 1px solid;
        position: absolute;

        &:nth-child(1) {
            animation-delay: 0.75s;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &:nth-child(2) {
            animation-delay: 0.5s;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            animation-delay: 0.25s;
            bottom: 0;
            right: 50%;
            transform: translateX(50%);
        }

        &:nth-child(4) {
            animation-delay: 0.1s;
            bottom: 50%;
            left: 0;
            transform: translateY(50%);
        }
    }
}

.loop_second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    height: 195px;
    width: 195px;
    animation: rotate3 0.6s infinite linear reverse;

    div {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 1.5px solid rgb(255, 255, 255);
        animation: color-change 1.2s linear infinite;
        border: 1px solid;
        position: absolute;

        &:nth-child(1) {
            animation-delay: 0.75s;
            top: 0;
            left: 0;
        }

        &:nth-child(2) {
            animation-delay: 0.5s;
            top: 0;
            right: 0;
        }

        &:nth-child(3) {
            animation-delay: 0.25s;
            bottom: 0;
            right: 0;
        }

        &:nth-child(4) {
            animation-delay: 0.1s;
            bottom: 0;
            left: 0;
        }
    }
}

@keyframes color-change {
    50% {
        background-color: rgb(255, 255, 255);
    }

    100% {
        background-color: rgb(0, 0, 0);
    }
}

@keyframes rotate1 {
    50% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

@keyframes rotate2 {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes rotate3 {
    50% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}
