.Loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loop_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);

    /* Базовые размеры для десктопа.
       На планшете/мобиле переопределяются в media-правилах ниже. */
    --outer-size: 300px;
    --inner-size: 195px;
    --outer-dot-size: 50px;
    --inner-dot-size: 20px;

    height: var(--outer-size);
    width: var(--outer-size);
    animation: rotate1 1.8s infinite linear reverse;
}

.loop_first {
    display: flex;
    position: relative;
    width: var(--outer-size);
    height: var(--outer-size);
    z-index: 210;

    div {
        width: var(--outer-dot-size);
        height: var(--outer-dot-size);
        border-radius: 50%;
        border: 1px solid rgb(255, 255, 255);
        animation: color-change 1s linear infinite;
        position: absolute;

        &:nth-child(1) {
            animation-delay: 0.75s;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &:nth-child(2) {
            animation-delay: 0.5s;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }

        &:nth-child(3) {
            animation-delay: 0.25s;
            bottom: 0;
            right: 50%;
            transform: translateX(50%);
        }

        &:nth-child(4) {
            animation-delay: 0.1s;
            bottom: 50%;
            left: 0;
            transform: translateY(50%);
        }
    }
}

.loop_second {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    height: var(--inner-size);
    width: var(--inner-size);
    animation: rotate3 0.6s infinite linear reverse;

    div {
        width: var(--inner-dot-size);
        height: var(--inner-dot-size);
        border-radius: 50%;
        border: 1.5px solid rgb(255, 255, 255);
        animation: color-change 1.2s linear infinite;
        border: 1px solid;
        position: absolute;

        &:nth-child(1) {
            animation-delay: 0.75s;
            top: 0;
            left: 0;
        }

        &:nth-child(2) {
            animation-delay: 0.5s;
            top: 0;
            right: 0;
        }

        &:nth-child(3) {
            animation-delay: 0.25s;
            bottom: 0;
            right: 0;
        }

        &:nth-child(4) {
            animation-delay: 0.1s;
            bottom: 0;
            left: 0;
        }
    }
}

@keyframes color-change {
    50% {
        background-color: rgb(255, 255, 255);
    }

    100% {
        background-color: rgb(0, 0, 0);
    }
}

@keyframes rotate1 {
    50% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

@keyframes rotate2 {
    50% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes rotate3 {
    50% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}

/* Планшеты: чуть уменьшаем размер */
@media (max-width: 1023px) {
    .loop_wrapper {
        --outer-size: 230px;
        --inner-size: 160px;
        --outer-dot-size: 40px;
        --inner-dot-size: 18px;
    }
}

/* Телефоны: делаем ещё компактнее */
@media (max-width: 767px) {
    .loop_wrapper {
        --outer-size: 180px;
        --inner-size: 130px;
        --outer-dot-size: 30px;
        --inner-dot-size: 14px;
    }
}

