.app {
    color: var(--primary-color);

    background: var(--bg-color);
    font: var(--font-m);
    font-synthesis: none;
    text-rendering: optimizespeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-size-adjust: 100%;
    height: 100%;
}
