.User_login {
    display: flex;
    flex-direction: column;
    gap: 24px;

    & form {
        gap: 204px;
    }
}

span {
    margin-bottom: 5px;
}

.input {
    padding: 5px 12px;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: inset 0 0 0 32px 0d1117;
    margin-top: 10px;
    font-size: 14px;
    color: #fff !important;
    border-color: var(--blue-100, #30363d);
    outline: none;

    &::placeholder {
        color: grey;
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        box-shadow: 0 0 0 1000px #0d1117 inset;
        -webkit-text-fill-color: #fff !important;
    }
}

.login_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 42px;
    margin-top: 25px;
    padding: 12px 18px;
    border-radius: 10px;

    font-size: 15px;
    font-weight: 600;
    color: var(--white);

    transition: opacity ease-out .5s;
}

.register {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.register_text {
    text-decoration: none;
}