.Wave_animate {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);

    width: 100%;

    z-index: 3;
}

.waves {
    overflow: hidden;
    position: relative;
    height: 120px;
}

.wave_container {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;

    .bg_top {
        z-index: 15;
        opacity: 0.5;
    }

    .bg_middle {
        z-index: 10;
        opacity: 0.75;
    }

    .bg_bottom {
        z-index: 5;
    }
}

.wave_layer {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;

    z-index: 18;

    div {
        position: absolute;
        left: 0;
        width: 200%;
        height: 100%;
        background-repeat: repeat no-repeat;
        background-position: 0 bottom;
        transform-origin: center bottom;
    }

    .wave_top {
        background-size: 50% 100px;
        background-image: url('./assets/wave/top.png');
        animation: move_wave 3s;
        animation-delay: 1s;
        -webkit-animation: move_wave 3s;
        -webkit-animation-delay: 1s;
    }

    .wave_middle {
        background-size: 50% 120px;
        background-image: url('./assets/wave/mid.png');
        animation: move_wave 10s linear infinite;
    }

    .wave_bottom {
        background-size: 50% 100px;
        background-image: url('./assets/wave/bot.png');
        animation: move_wave 15s linear infinite;
    }
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1);
    }

    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55);
    }

    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1);
    }
}


