.Auth_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.wrapper {
    flex-direction: column;
    width: 288px;
    padding: 30px 20px 20px;
    border-radius: 15px;
    grid-gap: 24px;

    .title {
        color: var(--black, black);
    }
}

