@font-face {
    font-family: 'Montserrat';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:
        local('Montserrat'),
        url('/fonts/Montserrat-Regular.woff2') format('woff2'),
        url('/fonts/Montserrat-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src:
        local('Montserrat'),
        url('/fonts/Montserrat-Medium.woff2') format('woff2'),
        url('/fonts/Montserrat-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src:
        local('Montserrat'),
        url('/fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('/fonts/Montserrat-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:
        local('Montserrat'),
        url('/fonts/Montserrat-Bold.woff2') format('woff2'),
        url('/fonts/Montserrat-Bold.woff') format('woff');
}

@mixin montserrat-regular {
    font-family: 'Montserrat, sans-serif';
    font-weight: 400;
}

@mixin montserrat-medium {
    font-family: 'Montserrat, sans-serif';
    font-weight: 500;
}

@mixin montserrat-semibold {
    font-family: 'Montserrat, sans-serif';
    font-weight: 600;
}

@mixin montserrat-bold {
    font-family: 'Montserrat, sans-serif';
    font-weight: 700;
}
