.app.light_theme {
    --bg-color: #ffe1ff;
    --inverted-bg-color: #f9e5f9;
    --inverted-bg-color-btn: var(--color-blue-light);
    --inverted-bg-color-input: var(--color-white);
    --inverted-border-color-input: var(--color-white-black);

    text-shadow: 1px 1px 2px #00000080;
}