.PageLoader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 12px;
    padding: 24px 16px;

    text-align: center;
}

.title {
    font-weight: 500;
}

.subtitle {
    max-width: 560px;
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.4;
}