.White_content_block {
    // background-color: var(--white, white)
    padding: 16px;
    border: 1px solid var(--blue-100, #30363db3);
    border-radius: var(--mobile-default-border, 6px);

    background-color: #161b22;
    display: flex;
    gap: 10px;
}