.Not_found_page {
    position: absolute;
    top: 50%;
    left: 50%;

    align-items: center;
    width: 435px;
    margin-right: -50%;
    transform: translate(-50%, -50%);

    .container {
        display: flex;
        flex-direction: column;
        grid-gap: 12px;
    }

    img {
        width: 120px;
        height: 120px;
        padding: 0 15px;
    }
}