@mixin input-primary {
    @include text-size-body-2;
    color: var(--color-text-primary);
    background-color: var(--inverted-bg-color-input);
    background-color: var(--inverted-bg-color-input);
    box-shadow: inset 0 0 0px 1000px #0d1117;
    border: 1px solid var(--inverted-border-color-input);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:
        background-color 0.2s,
        border-color 0.2s;
    box-sizing: border-box;
    padding: 16px 20px;

    &:hover:not(:disabled) {
        background-color: var(--color-bg-hover);
    }

    &:focus:not(:disabled) {
        border-color: var(--color-border-focus);
        background-color: var(--color-bg-focus);
        outline: none;
    }

    &:disabled {
        // background-color: var(--color-bg-control-inactive);
        border-color: var(--color-border-inactive);
        cursor: not-allowed;
    }

    &::placeholder {
        color: var(--color-text-secondary);
    }

    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        -webkit-text-fill-color: var(--color-white);
        box-shadow: inset 0 0 0px 1000px #0d1117;
        background-color: var(--inverted-bg-color-input);
    }
}

@mixin input-medium {
    padding: 8px 16px;
    height: 44px;
}

@mixin input-small {
    padding: 4px 8px;
    height: 36px;
}

@mixin auth_input_style {
    padding: 5px 12px;
    border: 1px solid;
    border-color: var(--blue-100, #30363d);
    border-radius: 8px;
    box-shadow: inset 0 0 0 32px #0d1117;
    color: #fff;
    font-size: 14px;
}