.Password_input_field {
    .pass {
        border: 1px solid var(--gray-200, #30363d);
        border-radius: 8px;
        padding-right: 10px;

        box-shadow: inset 0 0 0 32px #0d1117;
    }
}

.error {
    border: 1px solid var(--red-400) !important;
}