.overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: var(--z-index-modal);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
    background-color: white;

    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    transform: translate(-50%, -50%) scale(1);

    &.active {
        transform: translate(-50%, -50%) scale(1);

        opacity: 1;
    }
}